
.nzrow{
	position: relative;
	overflow: hidden;
	border-radius: 8px;
	cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
}
.nzrow img{
	width: 100%;
	border-radius: 8px;
	display: block;
	transition: transform 0.5s;
}

.nzmain-text{
	text-align: center;
}
.nzmain-text p{
	color: var(--second-color);
	font-size: 15px;
	margin-bottom: 15px;
  color: orange;
}
.nzmain-text h2{
	font-size: var(--h2-font);
	line-height: 1;
}
.nzportfolio-content{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, auto));
	align-items: center;
	gap: 2.0rem;
	margin-top: 3rem;
  /* margin-left: 10px;
  margin-right: 10px; */

}
.nzlayer{
	width: 100%;
	height: 0;
	background: linear-gradient(rgba(0,0,0,1.1), rgb(38, 18, 215));
	position: absolute;
	border-radius: 8px;
	left: 0;
	bottom: 0;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	/* padding: 0 40px; */
	transition: height 0.5s;
}
.nzlayer h5{
	font-size: 20px;
	font-weight:600px;
	margin-bottom: 10px;
}
.nzlayer p{
	color: var(--second-color);
	font-size: 1rem;
	line-height: 1.0;
  padding: 5px;
}
.nzlayer i{
	color: orange;
	margin-top: 20px;
	font-size: 24px;
	background:rgb(255,255,255);
	width: 60px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
  text-decoration: none;
}

.nzrow:hover img{
	transform: scale(1.1);
}
.nzrow:hover .nzlayer{
	height: 100%;
}





#projects{
  position: relative;
  display: block;
  margin-top: 60px;
}
.project1 img,.project2 img{
  width: 100%;
}
#projects>h1{
  text-align: center;
  font-size: 34px;
}
#projects>p{
  font-size: 10px;
  text-align: center;
  margin-top: -20px;
}
#projects>div{
  width: 100%;
  background-color: #2222;
  padding-top: 5px;
  padding-bottom: 5px;
}
.techstack{
  display: flex;
  gap: 10px;
  justify-content: center;
  justify-items: center;

}
.techstack img{
  width: 5%;
  
}
